<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="https://glitch.com/favicon.ico" />
        <title>Hello World!</title>
        <link rel="stylesheet" href="static/style.css" />
        <script src="static/script.js" defer></script>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/quickstart">Quickstart</a></li>
                <li><a href="/documentation">Documentation</a></li>
                <li><a href="/tutorials">Tutorials</a></li>
            </ul>
        </nav>

        <header>
            <h1>Quickstart</h1>
        </header>

        <main>
            <!-- TODO -->
            <p>add stuff here</p>
        </main>
    </body>
</html>
